body{
    font-family: 'arial';
}

#hud{
    position:fixed;
    right:0;
    float:right;
    width: 350px;
    
}

#controls{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#entities{
    margin: 0px 20px;
    overflow: scroll;
}

.entity{
    margin: 10px 5px;    
    font-size: 12px;
}

.component {
    margin: 10px 0px;
    border: 1px solid #ccc;
    width: 300px;
    padding: 2px 5px;
}

#entityList {
    overflow: scroll;
    height: 80%;
    position: fixed;
    width: 100%;
}

.inputBox{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-block: 5px;
}